<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css"/>
    <title>Главная</title>
</head>
<body>
    <h1>Выберите режим</h1>
    <div class="background">
        <div class="container">
            <form action="/calculate">
                <button type="submit">Калькулятор</button>
            </form>
            <form action="/converter">
                <button type="submit">Конвертор</button>
            </form>
        </div>
    </div>
</body>
</html>